* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
}

.background {
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 40px 0px;
}

.performance-rating-card {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  width: 60%;
  border-radius: 10px;
}

.rating-description {
  color: #0f172a;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 60px;
}

.emojis-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  list-style-type: none;
}

.feedback-rating-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.love-emoji-image {
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thankyou-text {
  color: #0f172a;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}

.feedback-description {
  color: #1e293b;
  font-size: 20px;
}
